q.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/
node_modules/*

public/*

themes/hexo-theme-lanmiao
themes/hexo-theme-snail
themes/landscape
themes/Valine

source/_posts/*/*
!source/_posts/Hexo-Theme-LiveMyLife/*

source/_posts/*.md
!source/_posts/Hexo-Theme-LiveMyLife.md

source/img/*/*
!source/img/avatar/favicon.jpg
!source/img/avatar/vincnet.jpg
!source/img/header_img/404_bg.jpg
!source/img/header_img/categories_bg.jpg
!source/img/header_img/newhome_bg.jpg
!source/img/header_img/lml_bg.jpg
!source/img/header_img/tag_bg.jpg
!source/img/header_img/archive_bg.jpg
!source/img/wave/*
!source/img/signature/vincent-white.png
!source/img/scenery/about_bg.jpg
!source/img/scenery/about_bg2.jpg
!source/img/scenery/about_bg4.jpg
!source/img/scenery/treat_me_to_coffee.png


_config_snail.yml
_config.yml.bak
!source/CNAME
source/LICENSE
.gitignore
